.jobs-list {
  list-style-type: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  border: 2px solid rgb(73, 63, 252);
  border-radius: 10px;
  font-family: Arial, Sans-Serif;
  max-width: 600px;
  margin-left: 30px;
  /* text-decoration: none; */
}

.jobs-lines {
  border-bottom: 2px solid #bdc3c7;
  padding: 15px;
  font-size: 18px;
  color: black;
  /* text-decoration: none; */
}

.jobs-lines:last-child {
  border-bottom: none;
}

.job-lines-link {
  text-decoration: none;
  color: black;
}

.job-lines-link:hover {
  color: rgb(73, 63, 252);
  background-color: rgb(162, 237, 247);
}

.job-user {
  margin-left: 30px;
}

.job-select {
  margin-left: 30px;
  width: auto;
  border: 2px solid rgb(73, 63, 252);
  background: #fff;
  /* margin: 0 0 5px; */
  padding: 10px;
  border-radius: 10px;
}

.show-button {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgb(67, 168, 235);
  color: white;
  margin-left: 20px;
  font-size: 16px;
}

.show-button:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: rgb(233, 16, 16);
  color: rgb(67, 168, 235);
  transition: 250ms;
}
